---
layout: default
title: Homepage
navbar_title: HOME
---

{% include widgets/profile_card_bio_only.html %}

{% if site.data.display.homepage.show_news %}
{% assign count_news = site.news | size %}
{% if count_news > 0 %}
{% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
{% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
{% assign all_pubs = site.publications | sort: "date" | reverse %}
{% assign pubs = "" | split: "" %}
{% for pub in all_pubs %}
  {% if pub.pub contains 'Transactions' or pub.pub contains 'Magazine' %}
    {% assign pubs = pubs | push: pub %}
  {% endif %}
{% endfor %}
{%
include widgets/publication_card.html
publications=pubs
title='<i class="fas fa-star"></i> Selected Publications'
%}
{% endif %}
