<nav class="sidebar-nav bg-dark shadow-sm d-flex flex-column">
    <a class="navbar-brand text-white px-3 py-3"><strong>{{site.data.profile.navbar_name}}</strong></a>
    <button class="navbar-toggler d-sm-none text-white px-3" style="font-size: 1em; text-align:left;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-map"></i> Menu
    </button>

    <div class="collapse d-sm-block" id="navbarResponsive">
        <ul class="nav flex-column px-3">
            {% for item in site.data.navigation.pages %}
                {% if item.children %}
                <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %}">
                    <span class="nav-link text-light" style="cursor: default;">{{ item.name }}</span>
                </li>
                    {% for child in item.children %}
                    {% assign child_url = child.url | relative_url %}
                <li class="nav-item pl-3 {% if child_url == page.url %}active{% endif %}">
                    <a class="nav-link text-light" href="{{ child.url | relative_url }}" style="font-size: 0.95em;">{{ child.name }}</a>
                </li>
                    {% endfor %}
                {% else %}
                <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %}">
                    <a class="nav-link text-light" href="{{ item.url | relative_url }}">{{ item.name }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
