{{- include.pub
  | replace: "(TVT)", '(<span class="text-primary font-weight-bold" style="font-style: normal;">TVT</span>)'
  | replace: "(TWC)", '(<span class="text-primary font-weight-bold" style="font-style: normal;">TWC</span>)'
  | replace: "(CL)", '(<span class="text-primary font-weight-bold" style="font-style: normal;">CL</span>)'
  | replace: "(WCL)", '(<span class="text-primary font-weight-bold" style="font-style: normal;">WCL</span>)'
  | replace: "(VTM)", '(<span class="text-primary font-weight-bold" style="font-style: normal;">VTM</span>)'
  | replace: "(TMC)", '(<span class="text-primary font-weight-bold" style="font-style: normal;">TMC</span>)'
  | replace: "(IoTJ)", '(<span class="text-primary font-weight-bold" style="font-style: normal;">IoTJ</span>)'
-}}
